<!doctype html>
<html class="no-js">
<head>
  <%- bootstrap %>
  <meta http-equiv="X-UA-Compatible" content="ie=edge;chrome=1">
  <title>Browsenpm.org | Nodejitsu Inc.</title>
  <meta name="description" content="Browse packages, users, code, stats and more the public npm registry in style.">
  <meta name="keywords" content="Browse,packages,users,code,stats,npm,registry">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nodejitsu Inc.">
  <link rel="shortcut icon" href="/favicon.png">
  <script type="text/javascript" src="//use.typekit.net/gmp8svh.js"></script>
  <script type="text/javascript">
    // Load the typekit shizzle
    try{ Typekit.load(); }
    catch (e) {}

    // Remove the no-js
    document.documentElement.className = '';
  </script>
</head>
<body class="container">
  <%- partial %>
</body>
</html>