<section data-pagelet="navigation"></section>
<section class="documentation row">
  <article data-pagelet="documentation" class="tencol"></article>
  <aside data-pagelet="sidebar" class="twocol last"></aside>
</section>
<section data-pagelet="footer"></section>
