<section data-pagelet="search"></section>

<section class="row explore">
  <h2>Explore</h2>
  <p class="large">Discover interesting modules and learn about new packages.</p>
  <div data-pagelet="explore"></div>
</section>