<section data-pagelet="navigation"></section>
<section class="row">
  <article data-pagelet="package.json-guide"></article>
</section>
<section data-pagelet="footer"></section>
<section data-pagelet="analytics"></section>